* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* gornja tamna traka */
.gornji-bar {
  background-color: #1c1c2b;
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  font-size: 14px;
  border-radius: 15px;
  margin: 10px 20px 0 20px;
}

.logo {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LogoProPVC {
    width: 75px;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.pretraga{
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    width: 200px;
    color: #fff;
}

header{
    background-color: #f1f1f1;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
  display: flex;
  gap: 25px;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #4aa8e0;
}

.dugme-kontakt {
   background-color: #4aa8e0;
   color: #fff;
   border: none;
   padding: 12px 25px;
   border-radius: 20px;
   cursor: pointer;
   font-weight: bold; 
}

.dugme-kontakt:hover {
  background-color: #3690c9;
}

.link-navigacija {
  text-decoration: none;
  color: #1c1c2b;
  font-weight: 500;
  font-style: bold;
  transition: color 0.3s ease;
}

.link-navigacija:hover {
  color: #4aa8e0;
}

.link-adresa {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-adresa:hover {
  color: #4aa8e0;
}